*
{
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "iosevka";
    font-weight: bold;
    font-size: 14px;
    padding: 0;
}

window#waybar
{
    background: #120e08;
    border: 1px solid #b3976d;
}

#language, #clock, #pulseaudio, #network, #tray, #cpu, #memory
{
    margin: 8px 8px 8px 0px;
    padding: 2px 8px 2px 8px;
    color: #1b140a;
    background-color: #b3976d;
    border: 2px solid #8c734e;
}

#workspaces
{
    margin: 8px 0px 8px 16px;
}

#workspaces button
{
    all: initial;
    padding: 2px 8px 2px 0px;
    color: #8c734e;
}

#workspaces button.focused
{
    color: #d1b994;
}

#workspaces button.urgent,
#battery.warning, #battery.critical, #battery.urgent
{
    background-color: #b3976d;
    padding: 2px 8px;
    color: #120e08;
}
